.container {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.line {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
button {
    margin-left: 15px;
    padding: 10px 25px;
    border: 0px;
    border-radius: 2px;
    color: white;
}

.green {
    background-color: rgba(4, 161, 4, 0.76)
}
.blue {
    background-color: rgba(5, 5, 255, 0.678)
}

.input-field {
    width: 300px;
    border: 1px solid lightgray;
    font-size: 16px;
    background: #FFF;
    border-radius: 1px;
    padding: 8px;
}

.right {
    justify-content: end;
}

.part {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    font-size: 16px;
    background: #FFF;
    border-radius: 1px;
    padding: 8px;
    width: 100%;
}

a {
    text-decoration: underline;
    color: blue;
}