<div class="container">
    <div class="line">
        <input #inp class="input-field" placeholder="Type to search" (input)="filter(inp.value)">
        <button (click)="filter(inp.value)" class="green">Search</button>
    </div>
    <div class="right line">
        <button class="blue" (click)="addCourse()">Add course</button>
    </div>
    <div class="line">
        <app-course *ngFor="let item of filteredShownCourses" [course]="item"
        ></app-course>
    </div>
    <div class="line part">
        <a (click)="loadMore()">load more</a>
    </div>
</div>