<div class="body">
    <header>
        <figure>
            <img src="/assets/play.png">
            <span>VIDEO COURSE</span>
        </figure>
        <div class="auth">
            <button>User login</button>
            <button>Log out</button>
        </div>
    </header>
    <div class="nav">
        <a>Courses</a> / <b class="new-course">New Course</b>
    </div>
    <main>
        <app-courses></app-courses>
        <!-- <app-login></app-login> -->
        <!-- <app-new-course></app-new-course> -->
        <!-- <app-course></app-course> -->
        <router-outlet></router-outlet>
    </main>
</div>
<footer>
    Copyright Ⓒ Videocourses. All rights reserved
</footer>