.container {
    width: 1000px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px #0000000d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
}

.input-field {
    width: 100%;
    border: 1px solid lightgray;
    font-size: 16px;
    background: #FFF;
    // box-shadow: 1px 1px 2px grey;
    border-radius: 1px;
    padding: 8px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.right {
    justify-content: end;
}

.small {
    font-size: 12px;
}

.red {
    color: red;
}

.bold {
    font-weight: 500;
}

.header {
    font-weight: 500;
    font-size: 24px;
}

button {
    margin-left: 15px;
    padding: 10px 25px;
    border: 0px;
    border-radius: 2px;
}

.green {
    background-color: rgba(4, 161, 4, 0.76);
    color: white;
}
.grey {
    background-color:lightgrey;
    color:rgb(77, 77, 77);
}

a {
    text-decoration: underline;
    color: blue;
}

textarea {
    height: 100px;
}

.short {
    width: 175px;
}

.medium {
    width: 500px;
}

p {
    margin-left: 20px;
}