<form class="container" [formGroup]="course">
    <div class="line">
        <span class="header">New Course</span>
    </div><br>

    <div class="line">
        <label class="bold">Title:</label>
        <label class="small">*required</label>
    </div>
    <div class="line">
        <input class="input-field" placeholder="Text input" [formControl]="titleControl">
    </div>

    <div class="line">
        <label class="bold">Description:</label>
        <label class="small">*required</label>
    </div>
    <div class="line">
        <textarea class="input-field" placeholder="Add description" [formControl]="descriptionControl"></textarea>
    </div>

    <div class="short line">
        <label class="bold">Duration:</label>
        <label class="small">*required</label>
    </div>
    <div class="short line">
        <input #timeInput (input)="setTime(timeInput.value)" class="short input-field" type="number"
            placeholder="Minutes" [formControl]="durationControl">
        <p>{{time}}</p>
    </div>

    <div class="short line">
        <label class="bold">Date:</label>
        <label class="small">*required</label>
    </div>
    <div class="short line">
        <input class="input-field" type="date" placeholder="DD/MM/YYYY" [formControl]="dateControl">
    </div>

    <div class="medium line">
        <label class="bold">Authors:</label>
        <label class="small">*required</label>
    </div>
    <div class="medium line">
        <input class="input-field" [formControl]="authorsControl">
    </div>
    <br>
    <div class="line right">
        <button class="grey">Cancel</button>
        <button class="green">Save</button>
    </div>
</form>